<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpvrvOV-Q8mHeyLRzkVv3DfL5Bz7Y6C1A</string>
	<key>GCM_SENDER_ID</key>
	<string>340309557479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.questForCalculus.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quest-for-calculus</string>
	<key>STORAGE_BUCKET</key>
	<string>quest-for-calculus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340309557479:ios:cbad5d2607c80f7e4f6242</string>
</dict>
</plist>